flows.json
[{"id":"39666c21.31834c","type":"subflow","name":"Stepper Driver","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"e5bd4724.8df7f"}]}],"out":[{"x":840,"y":140,"wires":[{"id":"486b5671.b2fb28","port":0}]},{"x":840,"y":200,"wires":[{"id":"486b5671.b2fb28","port":1}]},{"x":840,"y":280,"wires":[{"id":"486b5671.b2fb28","port":2}]},{"x":840,"y":340,"wires":[{"id":"486b5671.b2fb28","port":3}]}],"env":[],"color":"#DDAA99"},{"id":"e5bd4724.8df7f","type":"function","z":"39666c21.31834c","name":"Driver ","func":"var outputMsgs = [];\n\nvar steps = msg.payload;\nfor (var count = 0; count < steps; count++) { \n    outputMsgs.push({payload:count});\n}\nreturn [ outputMsgs ];","outputs":1,"noerr":0,"x":210,"y":80,"wires":[["29f8e3c.640529c"]]},{"id":"29f8e3c.640529c","type":"function","z":"39666c21.31834c","name":"Generatore Sequenze","func":"var out=[];\nvar sequence = [ [1,0,0,0],[1,1,0,0],[0,1,0,0],[0,1,1,0],[0,0,1,0],[0,0,1,1],[0,0,0,1],[1,0,0,1]]\nfor(var i =0;i<sequence.length;i++)\nout.push({payload:sequence[i]});\nout.push({payload:[0,0,0,0]});\n\nreturn [out];","outputs":1,"noerr":0,"x":400,"y":120,"wires":[["486b5671.b2fb28"]]},{"id":"486b5671.b2fb28","type":"function","z":"39666c21.31834c","name":"Attuatore Sequenza","func":"node.status({fill:\"green\",shape:\"dot\",text:msg.payload});\nreturn [{payload:msg.payload[0]},{payload:msg.payload[1]},{payload:msg.payload[2]},{payload:msg.payload[3]}];","outputs":4,"noerr":0,"x":560,"y":240,"wires":[[],[],[],[]]}]